BR2T_VERSION := 43abc0a1e583cc47fcb9fb782295c1fad0162ee7
BR2T_BR_URL := https://github.com/buildroot/buildroot/tarball/$(BR2T_VERSION)
BR2T_BR_FILE := buildroot-$(BR2T_VERSION).tar.gz

BR2T_JLEVEL := 24

BR2T_NAME := chickenboard

BR2T_EXTERNAL := buildroot-external

BR2T_DEFCONFIG := chickenboard

# Leave empty if recovery is not needed
BR2T_RECOVERY_DEFCONFIG :=

BR2T_SWDESCRIPTION := board/custom/sw-description

BR2T_IMAGE_FILES := "out/chickenboard/images/sdcard.img:/"
